*~
*.o
*.a
hda-emu
.deps
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
kernel/hda_intel.c
kernel/hda_hwdep.c
kernel/init_hooks.h
